# MacOSX
.DS_Store

# java
*.java
*.class
*.jj

# Exceptions
!SimpleNode.java
!JmmParserConstants.java
!ASTIDENTIFIER.java
!ASTINTEGER.java
!ASTADDSUB.java
!ASTMULDIV.java
!SymbolTable.java
!Symbol.java
!CodeGenerator.java
!ASTmainDeclaration.java
!ASTmethodDeclaration.java
!ASTvarDeclaration.java